<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="terminologies-page"><p>A <b>terminology</b> in ng-skos is a JSON object with the following keys:</p>
<dl>
<dt>uri
<dd>URI of the terminology
<dt>prefLabel
<dd>an object that maps language tags to preferred names of the terminology,
    each given as string.
<dt>altLabel
<dd>...
<dt>notation
<dd>... (e.g. acronym)
<dt>topConcepts
<dd>unordered array of strings with concept URIs and/or concept objects.
</dl></div></div>
