<ul ng-if="concepts.length" class="skos-simple-list">
    <li ng-repeat="c in concepts">
        <div class="set" 
            tabindex="0"
            ng-keydown="onKeyDown($event, $first, $last, $index)"
            list-index="{{listname + '_' + $index}}"
            ng-focus="onFocus($index)">
            <span style="whitespace:nowrap;" 
                  class="notation skos-list-notation"
                  title={{popOverTitle(c.prefLabel)}}
                  ng-click="onClick($index)">{{c.notation[0]}}</span>
            <span ng-if="showLabels" skos-label="c.prefLabel" 
                  lang="{{language}}"
                  class="skos-list-label" 
                  ng-click="onClick($index)"></span>
            <div style="display:inline-table;padding-left:3px;">
                <a ng-if="onSelect" href="" ng-click="onSelect(c)" style="text-decoration:none;vertical-align:middle;">
                    <span class="glyphicon glyphicon-info-sign" title="Select concept (ENTER)"></span>
                </a>
                <a ng-if="canRemove" href="" ng-click="removeConcept($index)" style="text-decoration:none;vertical-align:middle;">
                    <span class="glyphicon glyphicon-trash" title="Remove concept (DEL)"></span>
                </a>
            </div>
        </div>
    </li>
</ul>
