<table class="table table-hover table-condensed table-bordered mapping-table">
    <thead>
        <tr>
            <th class="mapping-table-scheme"><span>Source Scheme</span></th>
            <th class="mapping-table-scheme"><span>Source Concept</span></th>
            <th class="skos-mapping-cell skos-mapping-cell-center"><span>Target Scheme</span></th>
            <th class="skos-mapping-cell skos-mapping-cell-center"><span>Target Concept(s)</span></th>
            <th class="skos-mapping-cell skos-mapping-cell-center" ng-if="type">
                <span class="mapping-table-header-sortable">Type</span>
                <a ng-click="predicate = 'type.value';reverse = !reverse" href="" class="mapping-table-icon">  
                    <span class="glyphicon glyphicon-sort"></span>
                </a>
            </th>
            <th class="skos-mapping-cell skos-mapping-cell-center" style="min-width:80px">
                <span class="mapping-table-header-sortable">Creator</span>
                <a ng-click="predicate = 'creator';reverse = !reverse" href="" class="mapping-table-icon">
                    <span class="glyphicon glyphicon-sort"></span>
                </a>
            </th>
            <th class="skos-mapping-cell skos-mapping-cell-center" style="min-width:120px;">
                <span class="mapping-table-header-sortable">Last Change</span>
                <a ng-click="predicate = 'created';reverse = !reverse" href="" class="mapping-table-icon">
                    <span class="glyphicon glyphicon-sort"></span>
                </a>
            </th>
            <th class="skos-mapping-cell skos-mapping-cell-center" style="min-width:100px;">
                <span class="mapping-table-header-sortable">Relevance</span>
                <a ng-click="predicate = 'mappingRelevance';reverse = !reverse" href="" class="mapping-table-icon">
                    <span class="glyphicon glyphicon-sort"></span>
                </a>
            </th>
            <!--
            <th ng-if="select"></th>
            -->
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="m in mapping | orderBy:predicate:reverse">
            <td class="skos-mapping-cell">
                <ul class="simple-list simple-list-center">
                    <li>
                        <span ng-if="m.from.members[0].inScheme" class="classification">{{m.from.members[0].inScheme.notation[0]}}</span>
                        <span ng-if="m.fromScheme && !m.from.members[0].inScheme" class="classification">{{m.fromScheme.notation}}</span>
                    </li>
                </ul>
            </td>
            <td class="skos-mapping-cell">
                <ul class="simple-list">
                    <li>
                        <span ng-if="m.from.members[0].prefLabel" class="notation" title="{{popOverTitle(m.from.members[0].prefLabel)}}">{{m.from.members[0].notation[0]}}</span>
                        <span ng-if="!m.from.members[0].prefLabel" class="notation">{{m.from.members[0].notation[0]}}</span>
                    </li>
                </ul>
            </td>
            <td class="skos-mapping-cell">
                <ul class="simple-list simple-list-center">
                    <li>
                        <span ng-if="m.to.members[0].inScheme" class="classification">{{m.to.members[0].inScheme.notation[0]}}</span>
                        <span ng-if="m.toScheme && !m.to.members[0].inScheme" class="classification">{{m.toScheme.notation}}</span>
                    </li>
                </ul>
            </td>
            <td class="skos-mapping-cell">
                <ul class="simple-list">
                    <li ng-repeat="t in m.to.members">
                        <div class="skos-mapping-target">
                            <span ng-if="t.prefLabel" class="notation" title="{{popOverTitle(t.prefLabel)}}">{{t.notation[0]}}</span>
                            <span ng-if="!t.prefLabel" class="notation">{{t.notation[0]}}</span>
                            <a ng-if="lookup && t.inScheme" ng-class="{ 'link-disabled': t.inScheme.notation[0] != schemes.target }" title="Select concept" class="mapping-action-icon">
                                <span ng-click="lookup(t, m.to.members[0].inScheme.notation[0])">
                                    <span style="top:2px;" class="glyphicon glyphicon-info-sign"></span>
                                </span>
                            </a>
                            <a ng-if="lookup && !t.inScheme" ng-class="{ 'link-disabled': m.toScheme.notation != schemes.target }" title="Select concept" class="mapping-action-icon">
                                <span ng-click="lookup(t, m.toScheme.notation)">
                                    <span style="top:2px;" class="glyphicon glyphicon-info-sign"></span>
                                </span>
                            </a>
                            <a ng-if="select && t.inScheme" ng-class="{ 'link-disabled': t.inScheme.notation[0] != schemes.target }" title="Add concept to mapping" class="mapping-action-icon">
                                <span ng-click="select(t, m.to.members[0].inScheme.notation[0])">
                                    <span style="" class="glyphicon glyphicon-plus"></span>
                                </span>
                            </a>
                            <a ng-if="select && !t.inScheme" ng-class="{ 'link-disabled': m.toScheme.notation != schemes.target }" title="Add concept to mapping" class="mapping-action-icon">
                                <span ng-click="select(t, m.toScheme.notation)">
                                    <span style="" class="glyphicon glyphicon-plus"></span>
                                </span>
                            </a>
                        </div>
                    </li>
                </ul>
            </td>
            <td ng-if="type">{{m.type.prefLabel}}</td>
            <td class="skos-mapping-cell skos-mapping-cell-center"><span>{{m.creator}}</span></td>
            <td class="skos-mapping-cell skos-mapping-cell-center">
              <span ng-if="!m.modified && !m.issued && m.created">{{m.created}} (created)</span>
              <span ng-if="!m.modified && m.issued">{{m.issued}} (issued)</span>
              <span ng-if="m.modified">{{m.modified}} (modified)</span>
            </td>
            <td class="skos-mapping-cell skos-mapping-cell-center">
                <span ng-if="m.mappingType">{{m.mappingType}} ({{m.mappingRelevance}})</span>
                <span ng-if="!m.mappingType && m.mappingRelevance">{{m.mappingRelevance}}</span>
            </td>
            <!--
            <td ng-if="select" class="skos-mapping-cell">
                <a style="cursor:pointer;text-decoration:none;" ng-class="{ 'link-disabled': m.to.inScheme[0].notation != schemes.target }" ng-click="select(m)" title="Select this mapping">
                    <span>Use mapping</span>
                </a>
            </td>
            -->
        </tr>
    </tbody>
</table>
