<div style="margin:1em 0em;">
    <input class="form-control"
        suggest-typeahead=""
        typeahead-on-select=""
        ng-model="conceptLabel"
        placeholder="Search by terms (typeahead)"
        typeahead-loading="loadingLocations"
        typeahead-editable="false"
    />
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh typeahead-loading"></i>
</div>
<div class="search-top" style="overflow:hidden;margin-bottom:15px;">
    <form ng-submit="reselectConcept('origin', originNotation)">
        <span style="float:left;">
            <input class="form-control search-top-input"
                ng-model="originNotation.notation"
                placeholder="Enter full notation"
            />
        </span>
        <button type="submit" ng-disabled="!originNotation.notation.length" class="search-top-button" />
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </form>
</div>
<div skos-concept="concept" skos-click="" language="language"></div>