<div class="skos-concept">
    <div class="top top-alt">
        <span ng-if="notation.length" class="notation">{{notation[0]}}</span>
        <b>
            <span ng-if="prefLabel" skos-label="concept.prefLabel" lang="{{language}}"></span>
        </b>
        <a ng-if="uri && uri != notation" class="uri" href="{{uri}}" target="_blank">
            <span class="glyphicon glyphicon-globe"></span>
        </a>
    </div>
    <div ng-if="altLabel" class="skos-concept-altlabel">
        <ul>
            <li ng-repeat="a in altLabel[language]">
                <span ng-if="$index < 5">{{a}}</span>
                <span style="margin-left:-4px;margin-right:3px;" ng-if="$index < 4 && $index < altLabel[language].length-1">, </span>
            </li>
        </ul>
    </div>
    <div ng-if="broader.length || narrower.length || related.length" class="skos-concept-connected">
        <div ng-if="broader.length" class="skos-concept-relation skos-concept-relation-broader">
            <ul ng-repeat="c in broader">
                <li>
                    <div style="font-size:1.3em;">&#8593;</div>
                    <div class="skos-concept-relation-label">
                        <span ng-if="c.prefLabel" skos-label="c.prefLabel" lang="{{language}}" ng-click="click(c)" title="{{c.notation[0]}}"></span>
                        <span ng-if="!c.prefLabel">{{c.notation[0]}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div ng-if="narrower.length" class="skos-concept-relation skos-concept-relation-narrower">
            <ul ng-repeat="c in narrower">
                <li>
                    <div style="font-size:1.3em;">&#8595;</div>
                    <div class="skos-concept-relation-label">
                        <span ng-if="c.prefLabel" skos-label="c.prefLabel" lang="{{language}}" ng-click="click(c)" title="{{c.notation[0]}}"></span>
                        <span ng-if="!c.prefLabel">{{c.notation[0]}}</span>
                    </div>
                </li>
            </ul>
        </div>
        <div ng-if="related.length" class="skos-concept-relation skos-concept-relation-related">
            <ul ng-repeat="c in related">
                <li>
                    <div style="font-size:1.3em;">&#8594;</div>
                    <div class="skos-concept-relation-label">
                        <span ng-if="c.prefLabel" skos-label="c.prefLabel" lang="{{language}}" ng-click="click(c)" title="{{c.notation[0]}}"></span>
                        <span ng-if="!c.prefLabel">{{c.notation[0]}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- TODO: select by language, only show a limited number -->
    <div style="margin-bottom:10px">
        <div skos-notes="concept" lang="{{language}}"></div>
    </div>
</div>
