<div class="skos-concept-thesaurus">
    <ul ng-if="ancestors.length" class="ancestors">
        <li class="ancestor" ng-repeat="a in ancestors">
            <span class="ancestors-label" skos-label="a.prefLabel" lang="{{language}}" ng-click="update(a);reload();"></span>
            <span class="ancestors-greater">></span>
        </li>
    </ul>
    <div class="top top-classic">
        <span ng-if="notation" class="notation">{{notation[0]}}</span>
        <b><span skos-label="concept.prefLabel" lang="{{language}}"></span></b><a ng-if="notation" class="uri" href="{{uri}}">
        <span style="vertical-align:-10%" class="glyphicon glyphicon-globe"></span></a>
    </div>
    <div ng-if="altLabel" class="skos-concept-altlabel">
        <ul>
            <li ng-repeat="a in altLabel[language]" style="display:inline;">
                <span ng-if="$index < 5" style="display:inline;">{{a}}</span>
                <span style="margin-left:-4px;margin-right:3px;" ng-if="$index < 4 && $index < altLabel[language].length-1">, </span>
            </li>
        </ul>
    </div>
    <div ng-if="broader.length" class="skos-concept-thesaurus-relation">
        <b>Broader Terms:</b>
        <ul ng-repeat="b in broader">
            <li>
                <span skos-label="b.prefLabel" lang="{{language}}" ng-click="click(b)"/>
            </li>
        </ul>
    </div>
    <div ng-if="narrower.length" class="skos-concept-thesaurus-relation">
        <b>Narrower Terms:</b>
        <ul ng-repeat="n in narrower">
            <li>
                <span skos-label="n.prefLabel" lang="{{language}}" ng-click="click(n)"/>
            </li>
        </ul>
    </div>
    <div ng-if="related.length" class="skos-concept-thesaurus-relation">
        <b>Related Terms:</b>
        <ul ng-repeat="r in related">
            <li>
                <span skos-label="r.prefLabel" lang="{{language}}" ng-click="click(r)"/>
            </li>
        </ul>
    </div>
    <div ng-if="scopeNote.length">
        <div ng-repeat="n in scopeNote"
            class="skos-concept-note skos-concept-thesaurus-note">
            <em><div skos-label="n" lang="{{language}}"></div></em>
        </div>
    </div>
    <div ng-if="definition.length">
        <div ng-repeat="n in definition"
            class="skos-concept-note skos-concept-thesaurus-note">
            <em><div skos-label="n" lang="{{language}}"></div></em>
        </div>
    </div>
</div>