<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>ng-skos demo application</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="../ng-skos.css" rel="stylesheet" />
  <link href="app.css" rel="stylesheet" />
    <script src="../lib/jquery-2.1.1.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
</head>
<body ng-controller="myController">
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="//gbv.github.io/ng-skos/">ng-skos</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a data-toggle="dropdown" type="button" class="dropdown-toggle">
                        Jump to directive
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#concept" target="_self">Concept</a>
                        </li>
                        <li>
                            <a href="#label" target="_self">Label</a>
                        </li>
                        <li>
                            <a href="#tree" target="_self">Tree</a>
                        </li>
                        <li>
                            <a href="#browser" target="_self">Browser</a>
                        </li>
                        <li>
                            <a href="#list" target="_self">List</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="navbar-right">
            <div class="navbar-btn lang-select">
                Language:
                <select ng-model="language">
                    <option>de</option>
                    <option>en</option>
                </select>
                <a href="//github.com/gbv/ng-skos" class="btn btn-sm">
                  <i class="fa fa-lg fa-github"></i>
                </a>
            </div>
        </div> 
    </nav>
</header>
<div class="main">
    <div class="container">
        <section class="fixnav">
        <p>
            This page illustrates features and use of AngularJS library ng-skos
            (version {{version}}).
            See the <a href="../">API reference</a> for details.
        </p>
        </section>
        <section id="concept" class="fixnav">
            <div class="page-header">
                <h2>skos-concept
                    <small><a href="../#/api/ng-skos.directive:skosConcept">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a></small>
                </h2>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <p>
                        Used as element or attribute to display a concept.
                    </p>
                    <p>

                    </p>
                    <div class="tmpl-border" skos-concept="sampleSkosConcept" language="language" template-url="template/skos-concept-thesaurus.html">
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <p>
                        The element content can be used to control how the concept is shown:
                    </p>
                    <div class="tmpl-border" skos-concept="sampleSkosConcept" language="language">
                    </div>
                    <p>
                        Interactive elements can be added, for instance to 
                        change the concept on clicks by loading from a terminology 
                        server. (See <a href="#browser"><b>skos-browser</b></a> below, for an example using the german <a href="http://rvk.uni-regensburg.de/">RVK</a> concept scheme)
                    </p>
                </div>
                <div class="col-md-1">
                </div>
            </div>
            <div class="row">
            </div>
        </section>
        <section id="label"  class="fixnav">
            <div class="page-header">
                <h2>skos-label
                    <small><a href="../#/api/ng-skos.directive:skosLabel">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a></small>
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Used as attribute to emit the preferred label of a concept. The lang
                        attribute of the directive element is read and set accordingly. If
                        no label of the required language exists, another language is selected.
                    </p>
                    <div class="concept-label">
                        <ul>
                            <li><span skos-label="sampleSkosConcept.prefLabel" lang="de" class="show-lang"/></li>
                            <li><span skos-label="sampleSkosConcept.prefLabel" lang="en" class="show-lang"/></li>
                            <li><span skos-label="sampleSkosConcept.prefLabel" class="show-lang"/></li>
                            <li><span skos-label="sampleSkosConcept.prefLabel" lang="fr" class="show-lang"/></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="tree" class="fixnav">
            <div class="page-header">
                <h2>skos-tree
                    <small><a href="../#/api/ng-skos.directive:skosTree">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a></small>
                </h2>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div>
                        Chose concept scheme to display: 
                        <select ng-model="treeSelect" ng-change="tree()">
                            <option selected>jita</option>
                            <option>ezb</option>
                        </select>
                    </div>
                    <div ng-if="!treeSelect" skos-tree="jita" language="language" class="tmpl-border"></div>
                    <div ng-if="treeSelect" skos-tree="treeActive" language="language" class="tmpl-border">
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    This directive implements a way to display a hierarchical (part of a) concept scheme.
                </div>
            </div>
        </section>
        <section id="browser" class="fixnav">
            <div class="page-header">
                <h2>skos-browser
                    <small><a href="../#/api/ng-skos.directive:skosBrowser">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a></small>
                </h2>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <skos-browser class="tmpl-border" 
                        concept="selectedBrowserConcept"
                        concept-scheme="rvk"
                    >
                    </skos-browser>
                    <div class="tmpl-border" ng-if="rvk.topConcepts">
                        <p><em>Select a top concept for browsing from this <a href="#list">skos-list</a>!</em></p>
                        <skos-list concepts="rvk.topConcepts" language="language" on-select="selectTopConcept" show-labels="true" />
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    The directive combines <b>skos-concept</b> (see <a href="#concept">Concept</a>) with a typeahead search field for concept labels provided by the module <a href="https://github.com/gbv/ng-suggest">ng-suggest</a>, as well as a function to look up specific notations.
                    The box below displays the topmost concepts of the RVK concept scheme. Clicking its links will update the browser's content.
                </div>
            </div>
        </section>
        <section id="list" class="fixnav">
            <div class="page-header">
                <h2>skos-list
                    <small><a href="../#/api/ng-skos.directive:skosList">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a></small>
                </h2>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div style="min-width:300px;">
                        <div style="padding-bottom:10px;">Displays selected concept labels in a list format</div>
                        <div ng-if="!conceptList.length">
                            <alert style="width:225px;" type="danger">Select concepts by using the <i>skos-browser</i>!</alert>
                        </div>
                        <div ng-if="conceptList.length">
                            <div style="display:block">
                                <form style="background-color:#EEE;padding:3px 4px;display:inline;">
                                    <input type="checkbox" name="remove" ng-model="rm">Removable concepts</input>
                                    <input type="checkbox" name="labels" ng-model="sl">Show item labels</input>
                                </form>
                            </div>
                            <div class="tmpl-border">
                                <skos-list concepts="conceptList" on-select="reselectConcept" removeable="rm" show-labels="sl"> 
                                </skos-list>
                            </div>
                        </div>
                        <div style="width:100%">
                            <span>Select concepts and add them to the concept list:</span>
                            <skos-browser class="tmpl-border"
                                concept="selectedListConcept"
                                concept-scheme="rvk">
                            </skos-browser>
                        </div>
                        <button ng-disabled="checkDuplicate()" ng-click="addConcept(selectedListConcept)" title="No duplicates!">
                            <span>Add concept</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-6">
                    <div>
                        The directive provides an internal function to remove list entries (<span class="glyphicon glyphicon-trash"></span>),
                        as well as an external <b>onSelect()</b> to select a concept from the list, which can then be used elsewhere.
                        The standard template utilizes this function when a label is clicked.
                        In this demo, the function will refresh the concept shown in the adjacent <i>skos-browser</i>.
                        <p>
                        When a list item is focused, the list can be navigated and manipulated via keyboard (arrow keys to navigate, <i>Enter</i> to select and <i>Del</i> to remove the selected item).
                        </p>
                        The attributes <i>removeable</i> and <i>show-labels</i> determine, if items should be allowed to be removed and if the preferred labels should be displayed, respectively.
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="footer">
    <p>
        This demo page is using parts of the <a href="http://angular-ui.github.io/bootstrap/">AngularJS Bootstrap UI</a> and <a href="http://getbootstrap.com/">Bootstrap CSS</a>
    </p>
    <p>
        Glyphicons courtesy of <a href="http://glyphicons.com/">Glyphicons.com</a>
    </p>
</div>
    <script src="../lib/angular-resource.min.js"></script>
    <script src="app.js"></script>
    <script src="../lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="../src/ng-skos.js"></script>
    <script src="../lib/ng-suggest.js"></script>
    <script src="../src/services/SkosHTTPProvider.js"></script>
    <script src="../src/services/SkosConceptProvider.js"></script>
    <script src="../src/directives/skosLabel.js"></script>
    <script src="../src/directives/skosConcept.js"></script>
    <script src="../src/directives/skosTree.js"></script>
    <script src="../src/directives/skosBrowser.js"></script>
    <script src="../src/directives/skosList.js"></script>
    <script src="rvk.js"></script>
</body>
</html>
